.head-menu {
  background-color: rgb(36, 36, 36);
  height: 6vh;
  width: 100vw;
}
.containerHW {
  /* display: flex;
  flex-direction: ; */
  background: linear-gradient(135deg, #818596, #80afe5, #4dc1df);
  width: 100vw;
  height: 100vh;
}
.container-pathchord {
  /* background-color: blueviolet; */
  height: 79vh;
  width: 100vw;
  display: flex;
  /* flex-direction: column; */
  /* align-items: unset; */
}
.play-music {
  /* background-color: rgb(212, 152, 31); */
  height: 80vh;
  width: 80vw;
  display: flex;
  justify-content: center;
  /* align-items: flex-start; */
  /* padding-left: 40px; */
}
.chord {
  /* background-color: rgb(236, 29, 29); */
  height: 80vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* padding: 0 50px; */
}
.suggest-song {
  /* background-color: rgb(29, 32, 236); */
  height: 80vh;
  width: 80vw;
  display: flex;
  justify-content: flex-start;
  /* padding-top: 35px; */
  align-items: center;
  flex-direction: column;
}
.img-1 {
  width: 35vw;
  /* height: 80vh; */
}
.N {
  padding-left: 10px;
  padding-top: 5px;
  color: aliceblue;
  font-size: 30px;
  /* background-color: aqua; */
}
.N:hover {
  color: rgb(247, 102, 210);
}
.img-bum {
  border-radius: 3%;
  width: 15vw;
}
.container-album {
  background-color: rgb(52, 53, 52);
  height: 58vh;
  width: 24vw;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding-top: 20px;
  border-radius: 4%;
  /* margin-bottom: 200px; */
}
.foot {
  background-color: rgb(36, 36, 36);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(245, 237, 242);
  height: 30vh;
  width: 100vw;
}
.img-me {
  margin-top: 5px;
  /* margin-left: 100px; */
  border-radius: 50%;
  height: 55px;
  width: 55px;
}
.foot i {
  padding: 10px;
  font-size: 32px;
}
.foot i:hover {
  color: rgb(247, 102, 210);
}
@media (max-width: 1080px) {
  .container-pathchord {
    background-color: rgb(43, 107, 226);
  }
}
@media (max-width: 800px) {
  .container-pathchord {
    /* background-color: blueviolet; */
    display: block;
    /* padding: 10px; */
    justify-content: center;
    /* flex-direction: column; */
  }
  .container-album {
    background-color: rgb(52, 53, 52);
    height: 80vh;
    width: 60vw;
  }
  .img-bum {
    width: 60vw;
  }
  .img-1 {
    width: 100vw;
    height: 80vh;
  }
}
@media (max-width: 600px) {
  .container-pathchord {
    /* background-color: rgb(43, 226, 119); */
  }
  .container-album {
    background-color: rgb(52, 53, 52);
    height: 70vh;
    width: 60vw;
  }
  .foot {
    background-color: rgb(43, 220, 226);
    height: 20vh;
    width: 100vw;
  }
}
@media (max-width: 480px) {
  .container-pathchord {
    /* background-color: rgb(226, 223, 43); */
    height: 100%;
    width: 100%;
    /* padding: 10px; */
  }
  .img-1 {
    width: 95vw;
    height: 65vh;
  }
  .containerHW {
    display: block;
    /* flex-direction: column; */
    /* background-color: aquamarine; */
  }
  .img-bum {
    width: 50vw;
  }

  /* .play-music {
    background-color: rgb(212, 152, 31);
    height: 100%;
    width: 100%;
  }
  .chord {
    background-color: rgb(236, 29, 29);
    height: 100%;
    width: 100%;
  }
  .suggest-song {
    background-color: rgb(29, 32, 236);
    height: 100%;
    width: 100%;
  } */
}
