.head-menu {
  /* background-color: rgb(36, 36, 36); */
  height: 6vh;
  width: 100vw;
}
.s-Or-a {
  width: 100vw;
  /* background-color: aquamarine; */
}
.contect-up {
  /* background-color: blueviolet;
   */
  background: linear-gradient(135deg, #2ecc71, #2980b9);
  display: flex;
  width: 100%;
  height: 80%;
}
.contect-down {
  background-color: rgb(44, 56, 58);
  display: flex;
  width: 100%;
  height: 110px;
}
.container-player {
  background-color: azure;
  display: flex;
  flex-direction: column;
  height: 41vw;
  width: 72vw;
}
.containerHW {
  background-color: #061527;
  /* background: linear-gradient(135deg, #818596, #80afe5, #4dc1df); */
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.container-pathchord {
  /* background-color: blueviolet; */
  height: 79vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  /* flex-direction: column; */
  /* align-items: unset; */
}
.play-music {
  /* background-color: rgb(212, 152, 31); */
  /* height: 70vh; */
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chord {
  /* background-color: rgb(233, 124, 124); */
  /* height: 80vh; */
  width: 100vw;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 50px; */
}
.suggest-song {
  /* background-color: rgb(79, 80, 77); */
  /* height: 80vh; */
  width: 100vw;
  display: flex;
  justify-content: center;
  /* padding-top: 35px; */
  align-items: center;
  /* flex-direction: column; */
}
.suggest-song-2 {
  text-decoration: "none";
  background-color: linear-gradient(135deg, #333642, #80afe5, #4dc1df);
  border-radius: 4%;
  max-width: 135px;
  max-height: 150px;
  margin: 5px;
  padding: 10px;
  position: relative;
  text-align: center;
}
.img-1 {
  width: 31vw;
  /* height: 80vh; */
}
.N {
  padding-left: 10px;
  padding-top: 5px;
  color: aliceblue;
  font-size: 30px;
  /* background-color: aqua; */
}
.N:hover {
  color: rgb(224, 64, 184);
}
.img-bum {
  border-radius: 3%;
  width: 15vw;
}
.container-album {
  background-color: rgb(52, 53, 52);
  height: 58vh;
  width: 24vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  border-radius: 4%;
  /* overflow: hidden; */
  /* justify-content: center; */
  margin-bottom: 50px;
}
.foot {
  background-color: rgb(36, 36, 36);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(245, 237, 242);
  height: 15vh;
  width: 100vw;
}
.img-me {
  /* margin-left: 100px; */
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
.foot i {
  padding: 0 10px;
  font-size: 22px;
}
.foot i:hover {
  color: rgb(247, 102, 210);
}
@media (max-width: 1080px) {
  .container-pathchord {
    background-color: rgb(43, 107, 226);
  }
}
@media (max-width: 800px) {
  .container-pathchord {
    /* background-color: blueviolet; */
    display: block;
    /* padding: 10px; */
    justify-content: center;
    /* flex-direction: column; */
  }
  .container-album {
    background-color: rgb(52, 53, 52);
    height: 80vh;
    width: 60vw;
  }
  .img-bum {
    width: 60vw;
  }
  .img-1 {
    width: 100vw;
    height: 80vh;
  }
}
@media (max-width: 600px) {
  .container-pathchord {
    /* background-color: rgb(43, 226, 119); */
  }
  .container-album {
    background-color: rgb(52, 53, 52);
    height: 70vh;
    width: 60vw;
  }
  .foot {
    background-color: rgb(43, 220, 226);
    height: 20vh;
    width: 100vw;
  }
}
@media (max-width: 480px) {
  .container-pathchord {
    /* background-color: rgb(226, 223, 43); */
    height: 100%;
    width: 100%;
    /* padding: 10px; */
  }
  .img-1 {
    width: 95vw;
    height: 65vh;
  }
  .containerHW {
    display: block;
    /* flex-direction: column; */
    /* background-color: aquamarine; */
  }
  .img-bum {
    width: 50vw;
  }

  /* .play-music {
    background-color: rgb(212, 152, 31);
    height: 100%;
    width: 100%;
  }
  .chord {
    background-color: rgb(236, 29, 29);
    height: 100%;
    width: 100%;
  }
  .suggest-song {
    background-color: rgb(29, 32, 236);
    height: 100%;
    width: 100%;
  } */
}
