.dark-mode {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(135deg, #202125, #253547, #1f4c57);
  display: flex;
  align-items: center;
}
.light-mode {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(135deg, #818596, #80afe5, #4dc1df);
  display: flex;
  align-items: center;
}
.header-left {
  background-color: rgb(36, 36, 36);
  height: 100%;
  max-width: 100px;
  float: left;
  padding-right: 10px;
}
.text {
  color: aliceblue;
  font-size: 20px;
}
/* .app h1 {
  padding-left: 10px;
} */
.img {
  max-width: 157px;
  max-height: 150px;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}
.app-boxmusic {
  /* background: linear-gradient(135deg, #5464bf, #6a99ca, #6eb0be); */
  background-color: rgb(36, 36, 36);
  border-radius: 4%;
  max-width: 155px;
  max-height: 180px;
  /* margin-left: 60px; */
  /* padding: 10px; */
  margin: 10px;
  padding: 10px;
  position: relative;
  text-align: center;
}
.app-boxmusic:hover {
  background-color: rgb(70, 78, 80);
}
.app-content {
  background-color: aquamarine;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  /* justify-items: center; */
}

.nemeMusic {
  font-size: 15px;
  padding-top: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 5px 0px;
  font-weight: normal;
  color: white;
}

.container {
  margin: 0 auto;
  /* background: #419be0;
  background-color: #202125; */
  margin-top: 350px;
  width: 1250px;
}

.content {
  padding: 20px;
  margin: auto;
  width: 90%;
}
.slick-slide .image {
  padding: 10px;
}
.slick-slide img {
  display: block;
  margin: 2px;
}
.slick-slide img.slick-loading {
  border: 0;
}
.slick-slider {
  margin: 10px 200px 10px 250px;
}
.slick-dots {
  margin-left: 0;
}
.slick-thumb {
  bottom: -45px;
}
.slick-thumb li {
  width: 60px;
  height: 45px;
}
.slick-thumb li img {
  filter: grayscale(100%);
}
.slick-thumb li.slick-active img {
  filter: grayscale(0%);
}
/* @media only screen and (max-width: 1180px) {
  .app-boxmusic {
    font-size: 24px;
  }
  .center {
    margin-left: -40px;
    margin-right: -40px;
  }
  .center .slick-center h3 {
    color: #e67e22;
    opacity: 1;
    transform: scale(1);
  }
  .center h3 {
    opacity: 0.8;
    transform: scale(0.95);
    transition: all 300ms ease;
  }
} */
.slick-vertical .slick-slide {
  height: 180px;
}
.slick-arrow {
  /* background-color: grey; */
  /* color: black; */
}
.slick-arrow:hover {
  /* background-color: grey; */
}
.slick-prev {
  z-index: 100;
  left: 20px !important;
}
.slick-next {
  z-index: 100;
  right: 20px !important;
}
.logo {
  color: gray;
  display: flex;
  height: 50px;
  width: 100%;
  padding-left: 10px;
  align-items: center;
}
.logo:hover {
  cursor: pointer;
  color: cyan;
}

.d {
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgb(36, 36, 36);
  color: #202125;
}
.d:hover {
  background-color: rgb(80, 78, 78);
}
.container2 {
  width: 50px;
  height: 24px;
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
  margin-bottom: 850px;
  align-items: flex-start;
  /* background: #04bf9d; */
}
.switch {
  position: relative;
  float: right;
  width: 50px;
  height: 24px;
}
.switch input {
  display: none;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #202125;
  border-radius: 30px;
  transition: 0.4s;
}
.slider::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  left: 4px;
  bottom: 4px;
  background: white;
  border-radius: 50%;
  transition: 0.4s;
}

input:checked + .slider {
  background: rgb(122, 125, 128);
}
input:checked + .slider::before {
  transform: translateX(26px);
}

/*  */
